/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/07/2018, 01:55:22 PM
    Author     : Camilo Arcila
*/

footer {
  background-color: #003f84;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 30px;
  color: white;
}


tspan {
  font-size: 19px;
    font-weight: bold;
    color: black;
    text-shadow: 0 0 6px #FFFFFF, 0 0 3px #FFFFFF;
    fill: black;
    text-rendering: geometricPrecision;
}

Style Attribute {
    font-size: 19px;
    font-weight: bold;
    color: black;
    text-shadow: 0 0 6px #FFFFFF, 0 0 3px #FFFFFF;
    fill: black;
    text-rendering: geometricPrecision;
}

label{
	color:#red;
	text-align:left;
	}